*{
    margin: 0;
    padding: 0;
}
.navbar{
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}
.navbar-toggler{
    outline: none !important;
}
/* Banner section */
#banner{
    background-image: linear-gradient(to right, #a517ba, #5f1782);


}
.play-btn{
    width: 45px;
    margin: 20px;
}
.service-img{
    width: 100px;
    margin-top: 20px;
}
.title::before{
    content: '';
    background: #7b1798;
    height: 5px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(63px);
}
.title::after{
    content: '';
    background: #7b1798;
    height: 10px;
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    transform: translateY(8px);
}
#services .btn-primary{
    box-shadow: none;
    padding: 8px 25px;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);

}